In [75]:
import pandas as pd

In [76]:
market_camp = pd.read_csv("marketing_campaign.csv", header=0)
market_camp.head()

,user_id,date_served,marketing_channel,variant,language_displayed,converted
0,a1000,1/1/18,House Ads,personalization,English,True
1,a1001,1/1/18,House Ads,personalization,English,True
2,a1002,1/1/18,House Ads,personalization,English,True
3,a1003,1/1/18,House Ads,personalization,English,True
4,a1004,1/1/18,House Ads,personalization,English,True

In [77]:
market_camp["user_id"].nunique()

10037

In [78]:
market_camp.shape

(10037, 6)

In [79]:
subs = pd.read_csv("subscribers.csv", header=0)
subs.head()

  user_id subscribing_channel date_subscribed date_canceled is_retained
0   a1000           House Ads          1/1/18           NaN        True
1   a1001           House Ads          1/1/18           NaN        True
2   a1002           House Ads          1/1/18           NaN        True
3   a1003           House Ads          1/1/18           NaN        True
4   a1004           House Ads          1/1/18           NaN        True

In [80]:
subs.shape

(10037, 5)

In [81]:
subs["user_id"].nunique()

10037

In [82]:
users = pd.read_csv("users.csv", header=0)
users.head()

  user_id    age_group language_preferred
0   a1000   0-18 years            English
1   a1001  19-24 years            English
2   a1002  24-30 years            English
3   a1003  30-36 years            English
4   a1004  36-45 years            English

In [83]:
users.shape

(10037, 3)

In [84]:
users["user_id"].nunique()

10037

In [85]:
ui_1 = pd.merge(market_camp,subs, on = "user_id", how="inner")
ui_1.shape

(10037, 10)

In [86]:
ui_2 = ui_1.merge(users, on = "user_id", how ="inner")
ui_2.shape

(10037, 12)

In [87]:
ui_2.head()

,user_id,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained,age_group,language_preferred
0,a1000,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,0-18 years,English
1,a1001,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,19-24 years,English
2,a1002,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,24-30 years,English
3,a1003,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,30-36 years,English
4,a1004,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,36-45 years,English

In [88]:
ui_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10037 entries, 0 to 10036
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   date_served          10021 non-null  object
 2   marketing_channel    10022 non-null  object
 3   variant              10037 non-null  object
 4   language_displayed   10037 non-null  object
 5   converted            10022 non-null  object
 6   subscribing_channel  1856 non-null   object
 7   date_subscribed      1856 non-null   object
 8   date_canceled        577 non-null    object
 9   is_retained          1856 non-null   object
 10  age_group            10037 non-null  object
 11  language_preferred   10037 non-null  object
dtypes: object(12)
memory usage: 1019.4+ KB

In [89]:
ui_2.describe()

,user_id,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained,age_group,language_preferred
count,10037,10021,10022,10037,10037,10022,1856,1856,577,1856,10037,10037
unique,10037,31,5,2,4,2,5,31,115,2,7,4
top,a1000,1/15/18,House Ads,control,English,False,Instagram,1/16/18,4/2/18,True,19-24 years,English
freq,1,789,4733,5091,9793,8946,600,163,15,1279,1682,9275

In [90]:
filtered_conv = ui_2[ui_2["converted"] == 1]
filtered_conv["marketing_channel"].value_counts(normalize=True)*100

House Ads    27.695167
Instagram    24.628253
Facebook     22.026022
Email        17.936803
Push          7.713755
Name: marketing_channel, dtype: float64

In [91]:
ui_2["date_subscribed"] = pd.to_datetime(ui_2["date_subscribed"])
ui_2["date_subscribed"].min()

Timestamp('2018-01-01 00:00:00')

In [92]:
is_retained =ui_2[ui_2["is_retained"] == 1]
is_retained[["age_group","language_preferred"]].value_counts(normalize=True)*100

age_group    language_preferred
19-24 years  English               23.768569
24-30 years  English               19.546521
0-18 years   English               16.419077
30-36 years  English                8.913213
45-55 years  English                8.444097
36-45 years  English                8.365911
55+ years    English                6.724003
24-30 years  German                 1.172791
19-24 years  German                 0.860047
             Spanish                0.781861
0-18 years   German                 0.781861
30-36 years  Spanish                0.547303
45-55 years  Spanish                0.469116
0-18 years   Spanish                0.469116
36-45 years  Spanish                0.390930
24-30 years  Spanish                0.390930
55+ years    Spanish                0.390930
45-55 years  German                 0.234558
0-18 years   Arabic                 0.234558
24-30 years  Arabic                 0.234558
45-55 years  Arabic                 0.156372
36-45 years  German                 0.156372
55+ years    Arabic                 0.156372
             German                 0.156372
36-45 years  Arabic                 0.078186
19-24 years  Arabic                 0.078186
30-36 years  German                 0.078186
dtype: float64