In [280]:
import pandas as pd

In [281]:
user_table = pd.read_csv("user_table.csv", header=0)
user_table

       user_id        date   device     sex
0       450007  2015-02-28  Desktop  Female
1       756838  2015-01-13  Desktop    Male
2       568983  2015-04-09  Desktop    Male
3       190794  2015-02-18  Desktop  Female
4       537909  2015-01-15  Desktop    Male
...        ...         ...      ...     ...
90395   307667  2015-03-30  Desktop  Female
90396   642989  2015-02-08  Desktop  Female
90397   659645  2015-04-13  Desktop    Male
90398   359779  2015-03-23  Desktop    Male
90399   438929  2015-03-26   Mobile  Female

[90400 rows x 4 columns]

In [282]:
user_table.shape

(90400, 4)

In [283]:
home_page = pd.read_csv("home_page_table.csv", header=0)
home_page

       user_id       page
0       313593  home_page
1       468315  home_page
2       264005  home_page
3       290784  home_page
4       639104  home_page
...        ...        ...
90395   456851  home_page
90396   128619  home_page
90397   167290  home_page
90398   437765  home_page
90399   337840  home_page

[90400 rows x 2 columns]

In [284]:
search_page = pd.read_csv("search_page_table.csv", header=0)
search_page

       user_id         page
0        15866  search_page
1       347058  search_page
2       577020  search_page
3       780347  search_page
4       383739  search_page
...        ...          ...
45195   417880  search_page
45196   989982  search_page
45197   428806  search_page
45198   609493  search_page
45199   303221  search_page

[45200 rows x 2 columns]

In [285]:
payment_confirmation = pd.read_csv("payment_confirmation_table.csv", header=0)
payment_confirmation

     user_id                       page
0     123100  payment_confirmation_page
1     704999  payment_confirmation_page
2     407188  payment_confirmation_page
3     538348  payment_confirmation_page
4     841681  payment_confirmation_page
..       ...                        ...
447   397473  payment_confirmation_page
448   860829  payment_confirmation_page
449   371291  payment_confirmation_page
450   263707  payment_confirmation_page
451   892101  payment_confirmation_page

[452 rows x 2 columns]

In [286]:
payment_page = pd.read_csv("payment_page_table.csv", header=0)
payment_page

      user_id          page
0      253019  payment_page
1      310478  payment_page
2      304081  payment_page
3      901286  payment_page
4      195052  payment_page
...       ...           ...
6025    23639  payment_page
6026   659242  payment_page
6027   395342  payment_page
6028   637777  payment_page
6029   604008  payment_page

[6030 rows x 2 columns]

In [287]:
home_page =home_page.rename(columns={"page":"home_page"})

In [288]:
search_page =search_page.rename(columns={"page":"search_page"})
payment_page =payment_page.rename(columns={"page":"payment_page"})
payment_confirmation =payment_confirmation.rename(columns={"page":"payment_confirmation"})
search_page

       user_id  search_page
0        15866  search_page
1       347058  search_page
2       577020  search_page
3       780347  search_page
4       383739  search_page
...        ...          ...
45195   417880  search_page
45196   989982  search_page
45197   428806  search_page
45198   609493  search_page
45199   303221  search_page

[45200 rows x 2 columns]

In [289]:
from functools import reduce

In [290]:
data_frames = [user_table,home_page,search_page,payment_page,payment_confirmation]

df = reduce(lambda left,right: pd.merge(left,right, on ="user_id", how ="left"),data_frames)
df

,user_id,date,device,sex,home_page,search_page,payment_page,payment_confirmation
0,450007,2015-02-28,Desktop,Female,home_page,NaN,NaN,NaN
1,756838,2015-01-13,Desktop,Male,home_page,NaN,NaN,NaN
2,568983,2015-04-09,Desktop,Male,home_page,search_page,NaN,NaN
3,190794,2015-02-18,Desktop,Female,home_page,search_page,NaN,NaN
4,537909,2015-01-15,Desktop,Male,home_page,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
90395,307667,2015-03-30,Desktop,Female,home_page,NaN,NaN,NaN
90396,642989,2015-02-08,Desktop,Female,home_page,search_page,NaN,NaN
90397,659645,2015-04-13,Desktop,Male,home_page,search_page,NaN,NaN
90398,359779,2015-03-23,Desktop,Male,home_page,NaN,NaN,NaN
90399,438929,2015-03-26,Mobile,Female,home_page,NaN,NaN,NaN

In [291]:
df["home_page"] = df["home_page"].apply(lambda x: 1 if x =="home_page" else 0)
df["search_page"] = df["search_page"].apply(lambda x: 1 if x =="search_page" else 0)
df["payment_page"] = df["payment_page"].apply(lambda x: 1 if x =="payment_page" else 0)
df["payment_confirmation"] = df["payment_confirmation"].apply(lambda x: 1 if x =="payment_confirmation_page" else 0)

In [292]:
df

,user_id,date,device,sex,home_page,search_page,payment_page,payment_confirmation
0,450007,2015-02-28,Desktop,Female,1,0,0,0
1,756838,2015-01-13,Desktop,Male,1,0,0,0
2,568983,2015-04-09,Desktop,Male,1,1,0,0
3,190794,2015-02-18,Desktop,Female,1,1,0,0
4,537909,2015-01-15,Desktop,Male,1,0,0,0
...,...,...,...,...,...,...,...,...
90395,307667,2015-03-30,Desktop,Female,1,0,0,0
90396,642989,2015-02-08,Desktop,Female,1,1,0,0
90397,659645,2015-04-13,Desktop,Male,1,1,0,0
90398,359779,2015-03-23,Desktop,Male,1,0,0,0
90399,438929,2015-03-26,Mobile,Female,1,0,0,0

In [293]:
summary = df[["home_page","search_page","payment_page","payment_confirmation"]].sum().reset_index()
summary.head()

                  index      0
0             home_page  90400
1           search_page  45200
2          payment_page   6030
3  payment_confirmation    452

In [294]:
summary = summary.rename(columns={"index":"stage", 0:"number"})
summary

                  stage  number
0             home_page   90400
1           search_page   45200
2          payment_page    6030
3  payment_confirmation     452

In [295]:
from plotly import graph_objects as gr

fig = gr.Figure(gr.Funnel(
      y=summary["stage"],
      x=summary["number"],
      textinfo = "value + percent previous"
))

fig.update_layout(
    title = "Воронка конверсии интернет-магазина",
    title_x = 0.5,
    autosize = False,
    width = 900,
    height = 600
)

fig.show()

In [296]:
dfg = df.groupby("sex")[["home_page","search_page","payment_page","payment_confirmation"]].sum().unstack("sex").unstack("sex").reset_index()
dfg= dfg.rename(columns={"index":"Page"})
dfg

sex                  Page  Female   Male
0               home_page   45075  45325
1             search_page   22676  22524
2            payment_page    3100   2930
3    payment_confirmation     241    211

In [297]:

fig = gr.Figure(gr.Funnel(
      y=dfg["Page"],
      x=dfg["Male"],
      textinfo = "value + percent previous",
      name = "Male",
      constraintext = "outside"
))
fig.add_trace(gr.Funnel(
      y=dfg["Page"],
      x=dfg["Female"],
      textinfo = "value + percent previous",
      name = "Female",
     constraintext = "outside"
))

fig.update_layout(
    title = "Воронка конверсии пользователей интернет-магазина по полу",
    title_x = 0.5,
    autosize = False,
    width = 900,
    height = 600
)

fig.show()

In [298]:
df

,user_id,date,device,sex,home_page,search_page,payment_page,payment_confirmation
0,450007,2015-02-28,Desktop,Female,1,0,0,0
1,756838,2015-01-13,Desktop,Male,1,0,0,0
2,568983,2015-04-09,Desktop,Male,1,1,0,0
3,190794,2015-02-18,Desktop,Female,1,1,0,0
4,537909,2015-01-15,Desktop,Male,1,0,0,0
...,...,...,...,...,...,...,...,...
90395,307667,2015-03-30,Desktop,Female,1,0,0,0
90396,642989,2015-02-08,Desktop,Female,1,1,0,0
90397,659645,2015-04-13,Desktop,Male,1,1,0,0
90398,359779,2015-03-23,Desktop,Male,1,0,0,0
90399,438929,2015-03-26,Mobile,Female,1,0,0,0

In [299]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90400 entries, 0 to 90399
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   user_id               90400 non-null  int64
 1   date                  90400 non-null  object
 2   device                90400 non-null  object
 3   sex                   90400 non-null  object
 4   home_page             90400 non-null  int64
 5   search_page           90400 non-null  int64
 6   payment_page          90400 non-null  int64
 7   payment_confirmation  90400 non-null  int64
dtypes: int64(5), object(3)
memory usage: 6.2+ MB

In [300]:
df["date"] = pd.to_datetime(df["date"])

In [301]:
df["month"] = df["date"].dt.month

In [302]:
df["weekday"] = df["date"].dt.weekday

In [303]:
df["year"] = df["date"].dt.year

In [304]:
df

,user_id,date,device,sex,home_page,search_page,payment_page,payment_confirmation,month,weekday,year
0,450007,2015-02-28,Desktop,Female,1,0,0,0,2,5,2015
1,756838,2015-01-13,Desktop,Male,1,0,0,0,1,1,2015
2,568983,2015-04-09,Desktop,Male,1,1,0,0,4,3,2015
3,190794,2015-02-18,Desktop,Female,1,1,0,0,2,2,2015
4,537909,2015-01-15,Desktop,Male,1,0,0,0,1,3,2015
...,...,...,...,...,...,...,...,...,...,...,...
90395,307667,2015-03-30,Desktop,Female,1,0,0,0,3,0,2015
90396,642989,2015-02-08,Desktop,Female,1,1,0,0,2,6,2015
90397,659645,2015-04-13,Desktop,Male,1,1,0,0,4,0,2015
90398,359779,2015-03-23,Desktop,Male,1,0,0,0,3,0,2015
90399,438929,2015-03-26,Mobile,Female,1,0,0,0,3,3,2015

In [305]:
dfindx1 = df[df["payment_confirmation"] == 1]
dfindx1 = dfindx1.groupby(["month","weekday"])["payment_confirmation"].count().reset_index()
dfindx1 = dfindx1.groupby("payment_confirmation")[["month","weekday"]].max().reset_index()
dfindx1.sort_values(by="payment_confirmation",ascending=False).head()

    payment_confirmation  month  weekday
14                    34      2        1
13                    33      2        5
12                    30      2        0
11                    28      1        5
10                    27      1        6

In [306]:
dfindx2 = df[df["payment_confirmation"] == 1]
df2 = pd.crosstab(index=dfindx2["sex"], columns=dfindx2["weekday"], normalize="index")
df2

weekday         0         1         2         3         4         5         6
sex
Female   0.178423  0.165975  0.124481  0.128631  0.107884  0.149378  0.145228
Male     0.161137  0.137441  0.113744  0.165877  0.132701  0.161137  0.127962